/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  min-height: calc(100vh - 60px);
  background-image: url('../../static/img/vloxy_engine.png');
  justify-content: space-around;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: unset;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
